- if !user_signed_in?
  .jumbotron
    %h1 Welcome in Friends Debts
    %p This is a place where You can share depts with friends. If you want to join sign up.
    %p= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg'
- else
  %h1.style{ style: 'text-align: center' } My Dashboard
  
  .panel.panel-default
    .panel-heading
      %h3.panel-title 
        Choose your group
        = link_to 'Add New', new_group_path, class: 'btn btn-primary btn-sm'
    .panel-body
      %table.table
        %tr
          %th #
          %th Group Name
        - current_user.groups.each.with_index(1) do |group, index|
          %tr
            %td
              = index
            %td
              = link_to group.name, group_path(group)